
*.conf
package.json
.build/**
options/**
tasks/**
node_modules/**
node_modules/

**.sw*

static/javascript/bootstrap.js
static/javascript/bootstrap.min.js
static/javascript/fitVids.js
static/javascript/jeesh-extras.js
static/javascript/jeesh.js
static/javascript/jquery.dropotron.min.js
static/javascript/jQuery.js
static/javascript/jquery.min.js
static/javascript/jquery.scrollgress.min.js
static/javascript/jquery.scrolly.min.js
static/javascript/jquery.slidertron.min.js
static/javascript/me-featuredetection.js
static/javascript/me-header.js
static/javascript/me-i18n-locale-de.js
static/javascript/me-i18n-locale-fr.js
static/javascript/me-i18n-locale-zh-cn.js
static/javascript/me-i18n-locale-zh.js
static/javascript/me-i18n.js
static/javascript/me-mediaelements.js
static/javascript/me-namespace.js
static/javascript/me-plugindetector.js
static/javascript/me-shim.js
static/javascript/me-utility.js
static/javascript/mep-feature-ads-vast.js
static/javascript/mep-feature-ads.js
static/javascript/mep-feature-backlight.js
static/javascript/mep-feature-contextmenu.js
static/javascript/mep-feature-endedhtml.js
static/javascript/mep-feature-fullscreen.js
static/javascript/mep-feature-googleanalytics.js
static/javascript/mep-feature-loop.js
static/javascript/mep-feature-playlist.js
static/javascript/mep-feature-playpause.js
static/javascript/mep-feature-postroll.js
static/javascript/mep-feature-progress.js
static/javascript/mep-feature-sourcechooser.js
static/javascript/mep-feature-speed.js
static/javascript/mep-feature-stop.js
static/javascript/mep-feature-time.js
static/javascript/mep-feature-tracks.js
static/javascript/mep-feature-universalgoogleanalytics.js
static/javascript/mep-feature-visualcontrols.js
static/javascript/mep-feature-volume.js
static/javascript/mep-header.js
static/javascript/mep-library.js
static/javascript/mep-player.js
static/javascript/npm.js
static/javascript/skel-layers.min.js
static/javascript/skel.min.js
static/javascript/skrollr.min.js

static/css/background.png
static/css/bigplay.fw.png
static/css/bigplay.png
static/css/bigplay.svg
static/css/bootstrap-theme.css
static/css/bootstrap-theme.css.map
static/css/bootstrap-theme.min.css
static/css/bootstrap.css
static/css/bootstrap.css.map
static/css/bootstrap.min.css
static/css/controls-ted.png
static/css/controls-wmp-bg.png
static/css/controls-wmp.png
static/css/controls.fw.png
static/css/controls.png
static/css/controls.svg
static/css/font-awesome.css
static/css/font-awesome.min.css
static/css/loading.gif
static/css/mediaelementplayer.css
static/css/mejs-skins.css
static/css/skel.css
