





<aside>

<div class="panel panel-warning">
<div class="panel-heading dates">sponsor</div>



<div class="panel-body container-fluid">


<div class="row">
  <div class="col-md-6">

          <a href="{{cms.advertising.article_top.website}}" target="_blank">
            <img class="media-object ad-image" src="{{cms.advertising.article_top.image|imageSize(150)}}" alt="{{cms.advertising.article_top.name}}"></img>
          </a>
  </div>
  <div class="col-md-6 ad">
          <h2>{{cms.advertising.article_top.text_of_ad}}</h2>
          <a href="{{cms.advertising.article_top.website}}" target="_blank"><h3 class="media-heading"> {{cms.advertising.article_top.name}} <i class="fa fa-external-link-square"></i></a></h3>
          <address>
            {{ cms.advertising.article_top.address.street1 }}<br/>

            {% if cms.advertising.article_top.address.street2 %}{{ cms.advertising.article_top.address.street2 }}{% endif %}

            {{ cms.advertising.article_top.address.city }} {{ cms.advertising.article_top.address.state }} {{ cms.advertising.article_top.address.country }} {{ cms.advertising.article_top.address.zip }}<br>
            {{cms.advertising.article_top.phone_number}}
          </address>
  </div>

</div>

</div>



</div>
</aside>
<!-- Article AD MIDDLE served via the Ad content type.  -->
