<div class="media ad-unit">
  <div class="media-left media-middle">
    <a href="{{cms.advertising.article_top.website}}" target="_blank">
      <img class="media-object" src="{{cms.advertising.article_top.image|imageSize(200)}}" alt="{{cms.advertising.article_top.name}}">
    </a>
  </div>
  <div class="media-body">
    <h3> class="media-heading"> {{cms.advertising.article_top.name}}</h3>
    <h4>{{cms.advertising.article_top.text_of_ad}}</h4>
    <p>{{cms.advertising.article_top.address}}</p>
    <p>{{cms.advertising.article_top.address}}</p>
  </div>
</div>
<!-- Article AD UNIT 1 served via the Ad content type.  -->
