<footer>

  <div class="footer-content-container" data-search-index="false">

    <div class="footer-col">
      <div class="white-logo"></div>
      <div class="site-map">

      </div>
    </div>
    <div class="footer-col">
      <a href="https://www.patreon.com/toneMSN?ty=h" title="Make a donation" class="patreon">
        <div class="logo"></div>
        <div class="name">Support us on Patreon!</div>
      </a>
    </div>
    <div class="footer-col">
      <div class="footer-social-flair">
        <div class="social-flair-title">Follow Us</div>
        <div class="flair-container">
          <ul class="flair-list">
            <a href="https://twitter.com/{{ cms.sitedata.twitter }}" title="Twitter"><li></li></a>
            <a href="https://www.facebook.com/{{ cms.sitedata.facebook_user_name }}/" title="Facebook"><li></li></a>
            <a href="https://www.instagram.com/{{ cms.sitedata.instagram }}/" title="Instagram"><li></li></a>
            <a href="https://soundcloud.com/{{ cms.sitedata.soundcloud }}" title="Soundcloud"><li></li></a>
            <a href="{{ cms.sitedata.itunes_feed }}" title="iTunes"><li></li></a>
          </ul>
        </div>
      </div>
      <div class="mailing-list">
        <div class="mailing-list-title">Never miss an article</div>
        <form action="//artsextract.us8.list-manage.com/subscribe/post?u=ae142e871896bc3b48cf33ba7&amp;id=757dd1d748" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <input type="text" placeholder="email address" input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"/>
          <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
                    <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ae142e871896bc3b48cf33ba7_757dd1d748" tabindex="-1" value=""></div>
        </form>
      </div>
    </div>

  </div>

</footer>
