<footer>

  <div class="footer-content-container" data-search-index="false">

    <div class="footer-col">
      <div class="white-logo"></div>
      <div class="site-map">

      </div>
    </div>
    <div class="footer-col">
      <a href="https://www.patreon.com/toneMSN?ty=h" title="Make a donation" class="patreon">
        <div class="logo"></div>
        <div class="name">Support us on Patreon!</div>
      </a>
    </div>
    <div class="footer-col">
      <div class="footer-social-flair">
        <div class="social-flair-title">Follow Us</div>
        <div class="flair-container">
          <ul class="flair-list">
            <a href="https://twitter.com/ToneMSN" title="Twitter"><li></li></a>
            <a href="https://www.facebook.com/tonemsn/" title="Facebook"><li></li></a>
            <a href="https://www.instagram.com/tonemsn/" title="Instagram"><li></li></a>
            <a href="https://soundcloud.com/tonemsn" title="Soundcloud"><li></li></a>
            <a href="https://itunes.apple.com/us/podcast/tone-madison/id1049897667?mt=2" title="iTunes"><li></li></a>
          </ul>
        </div>
      </div>
      <div class="mailing-list">
        <div class="mailing-list-title">Never miss an article</div>
        <form>
          <input type="text" placeholder="email address" />
          <input type="submit" />
        </form>
      </div>
    </div>

  </div>

</footer>
