<header>
  <div class="header-content">
    <a href="/">
      <div class="logo">
        <img src="{{cms.sitedata.feature_image|imageSize(180)}}" alt="Tone Madison" />
      </div>
    </a>
    <nav class="desktop">
      <ul>
        <li>
          <form class="header-search">
            <i class="fa fa-search magnifying-glass"></i>
            <input type="text" id="search-form" />
          </form>
        </li>
        {% for item in cms.tags|where('name','listen','watch','read', 'events') %}
        <li><a href="{{url(item)}}">{{ item.name }}</a></li>
        {% endfor %}
        <li class="dropdown">
          <button class="dropdown-toggle" type="button" data-toggle="dropdown">
            more<i class="fa fa-chevron-down dropdown-chev"></i>
          </button>

          <ul class="dropdown-menu">
            {% for item in cms.tags|exclude('name','listen','watch','read', 'events') %}
                   <li role="presentation"><a role="menuitem" tabindex="-1" href="{{url(item)}}">{{ item.name }}</a></li>
                   <li role="separator" class="divider"></li>
            {% endfor %}
          </ul>

        </li>
      </ul>
    </nav>




    <nav class="mobile">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle mobile-nav-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          More
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          {% for item in cms.tags|where('name','listen','watch','read', 'events') %}
          <li><a href="{{url(item)}}">{{ item.name }}</a></li>
          {% endfor %}
          <li role="separator" class="divider"></li>
          <li class="dropdown-header">more</li>
          {% for item in cms.tags|exclude('name','listen','watch','read', 'events') %}
                 <li role="presentation"><a role="menuitem" tabindex="-1" href="{{url(item)}}">{{ item.name }}</a></li>
          {% endfor %}

        </ul>
      </div>
    </nav>
  </div>
</header>
