<header>
  <div class="header-content" data-search-index="false">
    <a href="/">
      <div class="logo">
        <img src="{{cms.sitedata.feature_image|imageSize(180)}}" alt="Tone Madison" />
      </div>
    </a>

    <nav class="desktop">
      <ul>
        <li>
          <form action="/search-results/" class="header-search search-form" method="get" data-search-index="false">
            <i class="fa fa-search magnifying-glass"></i>
            <input type="text" placeholder="" id="tipue_search_input" name="q">
          </form>
        </li>

<!--Social bugs-->
        <li role="presentation"><a role="menuitem" tabindex="-1" href="https://twitter.com/{{ cms.sitedata.twitter }}" title="Twitter" Target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="https://www.facebook.com/{{ cms.sitedata.facebook_user_name }}/" title="Facebook" Target="_blank"><i class="fa fa-facebook fa-lg"></i></a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="https://www.instagram.com/{{ cms.sitedata.instagram }}/" title="Instagram" Target="_blank"><i class="fa fa-instagram fa-lg"></i></a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="https://soundcloud.com/{{ cms.sitedata.soundcloud }}" title="Soundcloud" Target="_blank"><i class="fa fa-soundcloud fa-lg"></i></a></li>




<!-- navigation driven by tag content type. -->
        {% set nav_tags = cms.tags|sort('publish_date', true) %}
        {% set core_nav = nav_tags|where('name','listen','watch','read', 'news', 'events')  %}
        {% set special_nav = nav_tags|exclude('name','listen','watch','read', 'news', 'events')  %}


        {% for item in core_nav %}
        <li><a href="{{url(item)}}">{{ item.name }}</a></li>
        {% endfor %}

<!--test for extended menu items-->
        {% if special_nav[0] %}
        <li class="dropdown">
          <button class="dropdown-toggle" type="button" data-toggle="dropdown">
            more<i class="fa fa-chevron-down dropdown-chev"></i>
          </button>

          <ul class="dropdown-menu">
            {% for item in special_nav %}
                   <li><a href="{{url(item)}}">{{ item.name }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}


        </li>
      </ul>
    </nav>




    <nav class="mobile">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle mobile-nav-button" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          More
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          {% for item in core_nav %}
          <li><a href="{{url(item)}}">{{ item.name }}</a></li>
          {% endfor %}
          {% if special_nav[0] %}
          <li role="separator" class="divider"></li>
          {% for item in special_nav %}
                 <li><a href="{{url(item)}}">{{ item.name }}</a></li>
          {% endfor %}
          {% endif %}

        </ul>
      </div>
    </nav>
  </div>
</header>
