
<summary>

<div class="panel panel-warning">
<div class="panel-heading dates">sponsor</div>



<div class="panel-body container-fluid">


<div class="row">
  <div class="col-md-6">

          <a href="{{cms.advertising.home_top.website}}" target="_blank">
            <img class="media-object ad-image" src="{{cms.advertising.home_top.image|imageSize(150)}}" alt="{{cms.advertising.home_top.name}}"></img>
          </a>
  </div>
  <div class="col-md-6">
          <p><strong>{{cms.advertising.home_top.text_of_ad}}</strong><br>
          <a href="{{cms.advertising.home_top.website}}" target="_blank"><strong>{{cms.advertising.home_top.name}}</strong> <i class="fa fa-external-link-square"></i></a><br>
          <address class="ad-tiny">
            {{ cms.advertising.home_top.address.street1 }}<br/>

            {% if cms.advertising.home_top.address.street2 %}{{ cms.advertising.home_top.address.street2 }}{% endif %}

            {{ cms.advertising.home_top.address.city }} {{ cms.advertising.home_top.address.state }} {{ cms.advertising.home_top.address.country }} {{ cms.advertising.home_top.address.zip }}<br>
            {{cms.advertising.home_top.phone_number}}
          </address>
  </div>

</div>

</div>



</div>
</summary>
