/* FONTS  */
@font-face {
    font-family: FontAwesome;
    src: url(/static/css/fonts/FontAwesome.otf);
}

@font-face {
    font-family: LeagueGothic-Regular;
    src: url(/static/css/fonts/LeagueGothic-Regular.otf);
}

@font-face {
    font-family: RobotoSlab-Bold;
    src: url(/static/css/fonts/RobotoSlab-Bold.ttf);
}

@font-face {
    font-family: RobotoSlab-Light;
    src: url(/static/css/fonts/RobotoSlab-Light.ttf);
}

@font-face {
    font-family: RobotoSlab-Regular;
    src: url(/static/css/fonts/RobotoSlab-Regular.ttf);
}

@font-face {
    font-family: RobotoSlab-Thin;
    src: url(/static/css/fonts/RobotoSlab-Thin.ttf);
}

@font-face {
    font-family: RobotoSlab-Italic;
    src: url(/static/css/fonts/RobotoSlab-Italic.ttf);
}

a:link, a:visited {
  color: #0089b2;
  text-decoration: none;
}

a:link:active, a:visited:active {
  color: #0089b2;
  text-decoration: none;
}


/* structural elements */
html{
}

body {
  color: #454545;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

footer{
  width:100%;
  margin-top: 100px;
  padding: 35px 0;
  background-color: #E05038;
}

.footer-content-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

.footer-col {
  flex: 2;
  align-items: center;
}

.footer-col:first-child {
  flex: 1.3;
}

.white-logo {
  height: 45px;
  background-image: url('/static/images/tone_logo_white.png');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.site-map {}

.patreon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2px;
}

.patreon > .logo {
  flex: 0 0 40px;
  width: 40px;
  height: 40px;
  background-image: url('/static/images/patreon_logo.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.patreon > .name {
  font: 1.2em/100% georgia;
  font-weight: 600;
  font-style: italic;
  color: white;
  text-align: left;
  padding-left: 20px;
}

.footer-social-flair {
  text-align: right;
}

.footer-social-flair > .social-flair-title {
  font: 1.2em/100% georgia;
  font-weight: 600;
  font-style: italic;
  color: white;
}

.footer-social-flair > .flair-container {
  
}

.flair-list {
  display: inline-block;
  list-style: none;
  padding: 10px 0;
}

.flair-list > a > li {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: inline-block;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.flair-list > a:nth-child(1) > li {
  background-image: url(/static/images/flat_icon_twitter_sm.png);
}

.flair-list > a:nth-child(2) > li {
  background-image: url(/static/images/flat_icon_facebook_sm.png);
}

.flair-list > a:nth-child(3) > li {
  background-image: url(/static/images/flat_icon_instagram_sm.png);
}

.flair-list > a:nth-child(4) > li {
  background-image: url(/static/images/flat_icon_soundcloud_sm.png);
}

.flair-list > a:nth-child(5) > li {
  margin-right: 0;
  background-image: url(/static/images/flat_icon_apple_sm.png);
}

.mailing-list {
  text-align: right;  
}

.mailing-list-title {
  font: 1.2em/100% georgia;
  font-weight: 600;
  font-style: italic;
  color: white;
  padding: 10px 0;
}

.mailing-list > form {
  
}

.mailing-list > form > input[type="text"] {
  width: 210px;
  padding: 8px 5px 6px 5px;
  border: none;
  border-radius: 2px;
  font: 0.8em/100% 'Roboto', sans-serif;
  font-weight: 400;
  color: #777;
}

.mailing-list > form > input[type="submit"] {
  border: none;
  padding: 10px 14px 7px 14px;
  border-radius: 2px;
  margin-left: 5px;
  background-color: #E6AF4B;
  font: 0.8em/100% georgia;
  font-weight: 600;
  font-style: italic;
  color: white;
}





#wrap {
  min-height: 100%;
}


#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

header{
  width: 100%;
  height: 75px;
  padding-top: 7px;
  margin: 20px 0 25px 0;
}

.header-content {
  display: flex;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}

.logo {
  flex: 1;
  height: 60px;
}

.logo > img {

}

.header-content > nav {
  flex: 1;
}

.header-content > nav > ul {
  margin: 0;
  text-align: right;
}

.header-content > nav > ul > li {
  list-style: none;
  display: inline;
  margin-left: 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
  font-weight: 400; 
  letter-spacing: 3px;
}

.header-content > a:link, a:visited {
  color: #4A4A4A;
  text-decoration: none;
}



section {
  padding-bottom: 10px;
}

article{
  font: 1.2em/170% 'Roboto' sans-serif;
  font-weight: 400;
  letter-spacing: -0.2px;
  padding-top: 10px;
  padding-bottom: 10px;
}

article > p {
  margin: 2em 0;
}

article > p > em {
  font-family: georgia;
  font-size: 0.8em;
  color: #777;
}

strong {
  color: #454545;
}

aside{
  max-width: 600px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

p{
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Used for Webhook WYSIWYG markup */

figure{
  padding-top: 1px;
  padding-bottom: 1px;
  margin: auto;
}


/* used for media objects with photo, title summary. full width. */

summary{
  width:100%;
  height: 100%;
}



/* Responsive Video Styling */

video {
  width: 100%    !important;
  height: auto   !important;
}

audio {
  width: 100%    !important;
  height: auto   !important;
}

img {
  height: auto   !important;
}


.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  +clearfix
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



/* For content between header and footer */

.content{
  margin: 0 auto 0 auto;
  max-width: 750px;
}

.SingleLine{
  vertical-align: baseline;
}


/* Specialized design elements */

#NavBar-Rule{
  display: none;
  height: 4px;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #9F2519;
  background-color: #F5A623;
  border-radius: 25px;
  opacity: 0.5;
}

.OrangeDrop{
  height: 100%;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #9F2519;
  background-color: #F5A623;
  border-radius: 25px;
  opacity: 0.5;
}

.BannerAd{
  height: 95px;
  width: 280px;
  margin: 20px auto 20px auto;

}

.SocialLogos{
  height: 100%;
  width: 50%;
  display: inline-block;
  margin: 0 1.5%;
}

.progress{
  margin: 25px;
}

.contextBar{
background: rgba(0,0,0,0.25);
padding: 50px;
margin-top: 20px;
}

.contextBar p {
font-family: 'RobotoSlab-Regular';
font-size: 11px;
color: #232323;
line-height: 15px;
}

.byline-author {
  display: inline-block;
}

.byline-link {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #4A4A4A;
}

.dates{
  font-family: georgia;
  font-size: 10px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
  color: #777;
}

.photo-caption {
  font: 12px/100% georgia, sans-serif;
  font-style: italic;
  color: #777;
}

#disqus_thread{
  height: 100%;
}

/* Actual headings */

h1{
font: 3.157em/100% 'Roboto', sans-serif;
font-weight: 600;
line-height: 100%;
letter-spacing: -0.2px;
margin-top: 10px;
margin-bottom: 15px;
color: #4A4A4A;
}

h2{
font: 2.369em/100% 'Georgia';
color: #4A4A4A;
line-height: 38px;
font-weight: 600;
font-style: italic;
}

h3{
font-family: 'Roboto', sans-serif;
font-size: 16px;
color: #777;
line-height: 16px;
}

h4{
font-family: 'Roboto', sans-serif;
font-size: 13px;
color: #4A4A4A;
line-height: 13px;
}

h5{
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 14px;
color: #4A4A4A;
}



/* Responsive headings */


/* Extra small devices (phones, less than 768px) */


/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
h1{
  font-size: 36px;
  line-height: 36px;
}
h2{
  font-size: 16.5px;
  line-height: 18px;
}


}

/* Landscape phones and smaller */
@media (max-width: 480px) {
h1{
  font-size: 28px;
  line-height: 28px;
}

h2{
font-size: 16.5px;
line-height: 18px;

}


}





/*Color/attribute shifts*/

.WhiteText{
  color: #FFFFFF;
  text-shadow: 3px 3px 5px #4A4A4A;
}

.WhiteTextFooter{
  font-family: 'LeagueGothic-Regular';
  color: #FFFFFF;
  font-size: 29px;
  text-align: center;
  }

.circleButton {
    width: 40px;
    height: 40px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #FFFFFF;
    text-align: center;
  }

.twitter-button {
    background: #4099FF;
  }

.fb-button {
    background: #3B5998;
  }

.vimeo-button {
    background: #4EBBFF;
  }

.soundcloud-button {
    background: #FD6312;
  }

.instagram-button {
    background: #517FA4;
  }

a.btn
 {
    color: #FFFFFF;
}


.blur{
   -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}






/* text elements = */
.icon{font-size: 14px;}



/* Subnavigation headers */

.calendarPick{
font-family: 'RobotoSlab-Regular';
font-size: 11px;
color: #232323;
line-height: 15px;
}



/* for mailchimp - might need to style inline... */
form{
align: center;
font-family: 'LeagueGothic-Regular';

}

button, input, select, textarea {
align: center;
font-family: 'LeagueGothic-Regular';

}






/* Skrollr Parallax */


.parallax-image-wrapper {
  position:fixed;
  left:0;
  width:100%;
  overflow:hidden;
}

.parallax-image-wrapper-50 {
  height:50%;
  top:-50%;
}

.parallax-image-wrapper-100 {
  height:100%;
  top:-100%;
}

.parallax-image {
  display:none;
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  background-repeat:no-repeat;
  background-position:center;
  background-size:cover;
}

.parallax-image-50 {
  height:200%;
  top:-50%;
}

.parallax-image-100 {
  height:100%;
  top:0;
}

.parallax-image.skrollable-between {
  display:block;
}

.no-skrollr .parallax-image-wrapper {
  display:none !important;
}

#skrollr-body {
  height:100%;
  overflow:visible;
  position:relative;
}

.gap {
  background:transparent center no-repeat;
  background-size:cover;
}

.skrollr .gap {
  background:transparent !important;
}

.gap-50 {
  height:50%;
}

.gap-100 {
  height:100%;
}

.headerScroll, .contentScroll {
  background:#fff;
  padding:1em;

  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
}

.content-full {
  height:100%;
}

#done {
  height:100%;
}


.ad{
  text-align:center;
}

.ad-image{
  margin: 0 auto;
  text-align:center;
}

.ad-contactform{
  width: 50%;
  margin: 0 auto;
  padding-top: 10px;
}

.ad-tiny{
  font-size:75%;
}

.ad-row {
  display: flex;
  margin-bottom: 40px;
}

.disclaimer {
  display: block;
  font: 0.8em/100% 'Roboto', sans-serif;
  font-weight: 300;
  color: #777;
  padding: 5px 0;
  text-align: center;
}

.ad-container {
  flex: 1;
}

.ad-container:nth-child(2) {
  padding: 0 20px;
}

.ad-heading {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 3px;
  padding-left: 8px;
  background: #2F2F2F;
  height: 60px;
}

.ad-heading-text {
  flex: 1;
  font: 1.2em/100% 'Roboto' sans-serif;
  font-weight: 600;
  letter-spacing: -0.2px;
  color: white;
}

.ad-image-container {
  flex: 0 0 54px;
  height: 54px;
} 

.ad-image-container > img {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.ad-body {
  background-color: #FDFDFD;
  border: 1px solid #CACACA;
  height: 140px;
  padding: 10px;
  overflow: hidden;
}

.ad-body > .body-heading {
  font: 1.2em/100% 'Roboto', sans-serif;
  font-weight: 500;
  color: #2F2F2F;
  padding: 5px 0;
}

.ad-body > .body-content {
  font: 0.8em/120% 'Roboto', sans-serif;
  font-weight: 400;
  color: #2F2F2F;
  padding: 5px 0;
}
