{# ------------------------------------------------------- #}
{# INDIVIDUAL VIEW FOR EACH articles #}
{# This page can use any data from http:localhost:2000/cms/#/form/articles/ #}
{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}
{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}
{# ------------------------------------------------------- #}
{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/docs/template-inheritance-blocks/ #}
{% extends "templates/partials/base.html" %}
{# This sets our page <title>. It will append this articles's name to the site title defined in base.html #}
{% block title %}{% parent %} - {{ item.name }}{% endblock %}
{% block main %}


  <!--
    We position the images fixed and therefore need to place them outside of #skrollr-body.
    We will then use data-anchor-target to display the correct image matching the current section (.gap element).
  -->

<!--cut out, skroller stuff needs to be sorted out. -->


  <!-- Headline and embedded media. Tests set up with priority for feature media, then podcasts, then regular features-->
          <section id="Headlines">
              {% if item.feature_media %}
              <div class="videoWrapper"> {{item.feature_media.html|safe}}</div>
                {% for relation in item.tags %}
                <a href="{{url(relation)}}">
                <h3>{{relation.name}}</h3>
                </a>
                {% endfor %}
                <h1>{{ item.name }}</h1>
                <h2>{{ item.subhead }}</h2>


              {%elseif item.audio_file%}
                    <!-- Priority given to Soundcloud episodes -->
                    {% if item.soundcloud %}
                    <div class="videoWrapper"> {{item.soundcloud.html|safe}}</div>
                    {%else%}
                    <audio src={{item.audio_file.url}} controls></audio>
                    {%endif%}


                    <a href="/podcast/">
                    <h3>Arts Extract</h3>
                    </a>
                    <h1>{{ item.name }}</h1>
                    <h2>{{ item.subhead }}</h2>


              {%else%}
                <img class="img-responsive" src="{{item.banner|imageSize(1080)}}" alt="{{item.photo_caption}}"></img>
                <p><em>{{item.photo_caption|safe}}</em></p>


                {% for relation in item.tags %}
                <a href="{{url(relation)}}">
                  <h3 class="">{{relation.name}}</h3>
                </a>
                {% endfor %}
                <h1 class="" >{{ item.name }}</h1>
                <h2 class="" >{{ item.subhead }}</h2>
              {%endif%}


              <!--byline-->
              <h5>
              {% for relation in item.authors %}
              {{ relation.name }}
                {% if relation.twitter %}
              ,<a href="https://twitter.com/{{ relation.twitter }}"> @{{ relation.twitter }}</a>
                {% endif %}
                <br>
              {% endfor %}</h5>

              <h5 class="dates">{{ item.publish_date|date('F d, Y @ g:i a') }}</h5>

          </section>


  <!-- Feature Image or Embedded content -->


  <!-- Article content, dumped in two floating blocks -->
          <section class="content" id="storyContent">
              <article>
                  <p>{{ item.body|safe }}</p>
                  <p class="dates">last updated: {{ item.last_updated|date('F d, Y @ g:i a') }}
              </article>


  <!-- Ad break -->


              <article>
                {% include "templates/partials/article-ad-middle.html" %}
              </article>



  <!-- Comments -->

              <article>
                {% include "templates/partials/social.html" %}
                {% include "templates/partials/comments.html" %}
              </article>
          </section>

  <!--Gallery or pullquote, floating underneath -->





    <!-- Article content, dumped in two floating blocks -->
          {% if item.pullquote %}
          <section class="content" id="MoreStoryContent">
              <blockquote class="blockquote-reverse">
                  <p><h1>{{ item.pullquote|safe }}</h1></p>
              </blockquote>
          </section>
          {% endif %}


{% endblock %}


{% block contextBar %}
    <!-- Context Bar - authors, related stories, event lists, etc. -->
      <section class="gap gap-50 contextBar">

            <article class="col-sm-4 col-xs-12">
            {% for relation in item.authors %}
                        <div class="media">
                          <a class="pull-left" href="{{url(relation)}}">
                              {% if relation.image %}
                                <img class="media-object" src="{{ relation.image|imageSize(100)  }}" alt="{{ relation.name }}">
                              {% else %}
                                {# Assuming you made a single item content type called "site data" #}
                                <img class="media-object" src="{{ cms.sitedata.image|imageSize(100)  }}" alt="{{ relation.name }}">
                              {% endif %}
                          </a>
                          <div class="media-body">
                              <a href="{{url(relation)}}">
                              <h4>{{ relation.name }}</h4>  </a>
                              <p>{{ relation.bio }}</p>
                          </div>
                        </div>
            {% endfor %}
          </article>

          <article class="col-sm-4 col-xs-12">
          {% for relation in item.artists_stories %}
                      <div class="media">
                        <a class="pull-left" href="{{url(relation)}}">
                            <img class="media-object" src="{{ relation.image|imageSize(100) }}" alt="{{ relation.name }}">
                        </a>
                        <div class="media-body">
                            <a href="{{url(relation)}}">
                            <h4>{{ relation.name }}</h4>  </a>
                            <p>{{ relation.bio }}</p>
                        </div>
                      </div>
          {% endfor %}
        </article>

        <article class="col-sm-4 col-xs-12">
      {% for relation in item.events_related_story %}
                  <div class="media">
                    <a class="pull-left" href="{{url(relation)}}">
                        {% if relation.image %}
                          <img class="media-object" src="{{ relation.image|imageSize(100)  }}" alt="{{ relation.name }}">
                        {% elseif relation.artists_event[0] %}
                          <img class="media-object" src="{{ relation.artists_event[0].image|imageSize(100)  }}" alt="{{ relation.name }}">
                        {% else %}
                          {# Assuming you made a single item content type called "site data" #}
                          <img class="media-object" src="{{ cms.sitedata.image|imageSize(100)  }}" alt="{{ relation.name }}">
                        {% endif %}
                    </a>
                    <div class="media-body">
                        <a href="{{url(relation)}}">
                        <h3>{{ relation.name }}</h3>  </a>
                        <p>{{ relation.bio }}</p>
                    </div>
                  </div>
      {% endfor %}
      </article>
    </section>
{% endblock %}
