{# ------------------------------------------------------- #}

{# YOUR HOMEPAGE #}

{# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
{# http://paularmstrong.github.io/swig/docs/tags/ #}

{# Learn about calling data into Webhook pages here: #}
{# http://www.webhook.com/docs/template-rules-and-filters/ #}

{# ------------------------------------------------------- #}

{# Confused what extends and blocks do? Watch a primer: #}
{# http://www.webhook.com/help/template-inheritance/ #}
{% extends "templates/partials/base.html" %}

{% block socialsidebar %}
{% endblock %}


{# This sets our page <title>. It will append "- Homepage" to the site title defined in base. #}
{% block title %}{% parent %} - Homepage{% endblock %}


{% block feature %}

<!--Feature Story Feed-->
{% set articles = cms.articles|sort('publish_date', true)  %}

<!--brings in calendar posts-->
{% set highlights = cms.weeklycalendarhighlights|sort('publish_date', true)  %}
{% set frontpage = merge(articles, highlights) %}


      {% for item in frontpage|slice(0,2) %}
      <article class="col-md-12 col-sm-6 col-xs-12">
        <a href="{{ url(item) }}">
        {% if item.banner %}
          <img class="img-responsive" src="{{ item.banner|imageSize(500) }}" alt="{{ item.name }}">
        {% else %}
          {# Assuming you made a single item content type called "site data" #}
          <img class="img-responsive" src="{{ cms.sitedata.feature_image|imageSize(500) }}" alt="{{ item.name }}">
        {% endif %}
            <a href="{{ url(item) }}">
            <h3>{{ item.name }}</h3>
            </a>
            <p>{{ item.subhead }}</p>
      </article>
      {% endfor %}

        <div class="clearfix">
              {% for item in frontpage|slice(2,2) %}
            <summary class="col-md-12 col-sm-6 col-xs-12">
                <div class="media">
                  <a class="media-left media-middle" href="{{ url(item) }}">
                    {% if item.banner %}
                      <img class="media-object" src="{{ item.banner|imageSize(125) }}" alt="{{ item.name }}">
                    {% else %}
                      {# Assuming you made a single item content type called "site data" #}
                      <img class="media-object" src="{{ cms.sitedata.feature_image|imageSize(125) }}" alt="{{ item.name }}">
                    {% endif %}
                  </a>
                <div class="media-body">
                  <a href={{ url(item) }}>
                  <h5 class="media-heading" >{{ item.name }}</h5></a>
                  <p>{{ item.subhead }}</a>
              </div>
            </div>
          </summary>
            {% endfor %}
            {% for item in frontpage|slice(4,2) %}
              <summary class="hidden-lg hidden-md col-sm-6 col-xs-12">
              <div class="media">
                <a class="media-left media-middle" href="{{ url(item) }}">
                  {% if item.banner %}
                    <img class="media-object" src="{{ item.banner|imageSize(125) }}" alt="{{ item.name }}">
                  {% else %}
                    {# Assuming you made a single item content type called "site data" #}
                    <img class="media-object" src="{{ cms.sitedata.feature_image|imageSize(125) }}" alt="{{ item.name }}">
                  {% endif %}
                </a>
              <div class="media-body">
                <a href={{ url(item) }}>
                <h5 class="media-heading" >{{ item.name }}</h5></a>
                <p>{{ item.subhead }}</a>
                  </div>
                </div>
              </summary>
          {% endfor %}
        </div>

</div>

{% endblock %}


{% block capitolLoop %}


<!--Update Feed-->
{% set updates = cms.updates|sort('publish_date', true) %}
      <section class="col-md-6 col-sm-12 clearfix">


          <a href="/updates/">
          <h5>capitol loop</h5>
          </a>
                {% for item in updates|slice(0,8) %}
                <div class="media">
                  <a class="media-left media-middle" href="#">
                    {% if item.friends_update %}
                      <img class="media-object" src="{{ item.friends_update.image|imageCrop(65)  }}" alt="{{ item.name }}">
                      {% elseif item.tone_contributor_referral %}
                      <img class="media-object" src="{{ item.tone_contributor_referral.image|imageCrop(65)  }}" alt="{{ item.name }}">
                      {% else %}
                      {# Assuming you made a single item content type called "site data" #}
                      <img class="media-object" src="{{ cms.sitedata.image|imageCrop(65)  }}" alt="{{ item.name }}">
                    {% endif %}
                  </a>
                  <div class="media-body">
                    {% if item.story %}
                      <a href="{{ url(item.story) }}" target="_blank">{{ item.update_text }}</a>
                    {% elseif item.spotlight_events %}
                      <a href="{{ url(item.spotlight_events)}}" target="_blank">{{ item.update_text }}</a>
                    {% else %}
                      <a href="{{ item.url }}" target="_blank">{{ item.update_text }}</a>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}

      </section>


{% endblock %}




{% block eventFeed %}


<!--Event Feed-->
<section class="col-md-6 col-sm-12 clearfix">


        <a href="/events/">
        <h5>calendar</h5></a>

      {% set eventFeed = cms.events|sort('date_time', false) %}

<!-- NEED If test using moment.js to check for expired events.-->



<!--Loop sets the number of items displayed in feed-->
      {% for item in eventFeed|slice(0, 8)  %}
      <div class="media">
          <a class="media-left media-middle" href={{ item.website }} target="_blank">
            {% if item.image %}
              <img class="media-object" src="{{ item.image|imageCrop(65)  }}" alt="{{ item.name }}">
            {% elseif item.artists_event[0] %}
              <img class="media-object" src="{{ item.artists_event[0].image|imageCrop(65)  }}" alt="{{ item.name }}">
            {% else %}
              {# Assuming you made a single item content type called "site data" #}
              <img class="media-object" src="{{ cms.sitedata.image|imageCrop(65)  }}" alt="{{ item.name }}">
            {% endif %}
          </a>
        <div class="media-body">
          <strong>{{ item.date_time|date('D, M j @ g:i a') }}</strong><br>
          <a href={{ item.website }} target="_blank">{{ item.name }}</a></br>
          <strong>{{ item.venue }}</strong>
        </div>
      </div>
      {% endfor %}
</section>


{% endblock %}

{% block announcements %}


{% endblock %}


{% block contextBar %}
{% endblock %}
