  {# ------------------------------------------------------- #}
  {# INDIVIDUAL VIEW FOR EACH EVENT #}
  {# This page can use any data from http:localhost:2000/cms/#/form/articles/ #}
  {# Webhook uses the SWIG.js (like Djagno/Twig) templating system. Their documentation is here: #}
  {# http://paularmstrong.github.io/swig/docs/tags/ #}
  {# Learn about calling data into Webhook pages here: #}
  {# http://www.webhook.com/docs/template-rules-and-filters/ #}
  {# ------------------------------------------------------- #}
  {# Confused what extends and blocks do? Watch a primer: #}
  {# http://www.webhook.com/docs/template-inheritance-blocks/ #}
  {% extends "templates/partials/base.html" %}
  {# This sets our page <title>. It will append this articles's name to the site title defined in base.html #}
  {% block title %}{% parent %} - {{ item.name }}{% endblock %}
  {% block main %}

  <iframe src="{{ item.website }}" style="border: 0; width: 100%; height: 100%">

  {% endblock %}
